<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <form method="get" action="https://www.reddit.com/api/v1/authorize">
            <input type="hidden" name="client_id" value="XhdvQaDXW6Tshl6VZspunA">
            <input type="hidden" name="response_type" value="code">
            <input type="hidden" name="state" value="random_string_here">
            <input type="hidden" name="redirect_uri" value="http://127.0.0.1:8000/reddit/">
            <input type="hidden" name="duration" value="permanent">
            <input type="hidden" name="scope" value="identity">
            <input type="email" name="email" placeholder="Email">
            <button type="submit">Authorize</button>
        </form>
        
    </body>
</html>